<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Welcome to our chatbot</title>

    <style>
        body {
          background-image: url('/static/image/backgroundscreen2.png');
        }
    </style>

</head>
<body>
    <iframe
    allow="microphone;"
    width="480"
    height="610"
    src="https://console.dialogflow.com/api-client/demo/embedded/f7cfae62-a2e7-414b-97b2-9da9c1a5d02d">
    </iframe>
</body>
</html>